.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chessboard {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
}

.row {
  width: 100%;
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
  border: 2px solid;
}

.square.white {
  background-color: #FFFFFF;
}

.square.black {
  background-color: #000000;
}

.piece {
  border: 1px solid #000000;
}
